* {
  margin: 0;
  padding: 0;
}

.head img {
  width: 150px;
  height: 150px;
  border-radius: 3rem;
  filter: brightness(1.5);
  margin: 30px 0 0 0px;
}

.head {
  display: flex;
  justify-content: center;
  padding: 34px;
}

body {
  color: black;
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(we.gif);
}

.header {
  border-right: 9px solid #66DE93;
  width: 100%;
  text-align: center;
}

.justify {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.left {
  text-align: center;
  width: 100%;
}

.word {
  padding: 0 39%;
  text-align: left;
}

.space {
  margin-bottom: 15px;
}

.email {
  text-align: left;
}

.pg {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.header2 {
  border-right: 4px solid #66DE93;
  width: 100%;
  text-align: center;
}

.space2 {
  border-right: 4px solid #66DE93;
  width: 100%;
  text-align: left;
  padding: 0 196px;
  margin: 21px;
}

.word2 {
  padding: 0 224px;
  text-align: left;
}

.email2 {
  width: 40%;
  margin: auto;
  text-align: left;
}

.two {
  list-style: none;
}

.border {
  border-right: 49px solid #66DE93;
  border-left: 49px solid #66DE93;
  margin: 10px;
}

.myborder {
  display: flex;
  justify-content: center;
}

.myborder img {
  position: relative;
  left: -2.3%;
}

.mam {
  text-align: center;
  margin: 5% 10%;
}

.non {
  margin: -9% 0 0 0;
}

.gif {
  width: 100%;
  height: 100%;
}
.f{
      width: 4%;

}
.w{
      width: 4%;
}
.e{
    width: 4%;
}
.download{
  width: 4%;
}
.ty{
  margin: 37px 0 35px 0px;
}
